@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*
 * CSS Resets
 * This is just to remove default styles of html tags.
 */
 
  /* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

/*
 * General Webpage Styles
 * These are styles that will be used by multiple webpages
 */
:root {
  --primary: #1B1B1B;
  --secondary: #D9D9D9; 
  --accent-1: #1E1E1E;
  --accent-2: #2B2B2B;
  --default-light: #FFFFFF;
  --default-dark: #0A0A0A;

  --semi-bold: 500;
  --bold: 600;
  --extra-bold: 700z;
}
body {
  font-family: "Albert Sans", serif;
  background-color: var(--primary);
  color: var(--default-light);
}
img {
  width: 150px;
  height: 150px;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 3.5rem;
  line-height: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}

.light-button {
  padding: 0.5em 2em;
  border: none;
  border-radius: 20px;
  background-color: var(--secondary);
  color: var(--accent-1);
  font-weight: var(--bold);
}

/* Start of Content Styling*/
#main-navigation-section {
  position: fixed;
  z-index: 1;
  width: 20%;
  height: 100vh;

  img[src="images/placeholder-image.jpg"] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
  }

  #logo {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    background-color: var(--default-dark);
  }
  nav {
    padding: 3em 2em;
  }
  #services {
    h5 {
      display: flex;
      align-items: center;
      margin: 20px 0px;
      font-weight: var(--bold);
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}

#main-content-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  background-color: var(--accent-1);
  
  .content {
    margin: 30px 100px;
    p, figcaption{
      padding: 0.5em 2em;
    }
    .button {
      display: block;
      text-align: center;
      margin: 20px auto 0px;
      width: 180px;
    }
  }

  #content-mode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--accent-2);
    text-align: center;
    padding: 2px;
    line-height: 2.5rem;
    font-weight: var(--semi-bold);
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #for-you-page {
      border-right: solid 2px var(--default-light);
    }
    .mode-focused p{
      font-weight: 800;
      border-bottom: solid 3px var(--default-light);
    }
  }          
}

#other-content-section {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
}


/*
 * Specific Webpage Styles
 * These ares styles that will be specific in one wepage.
 */

 #social-media-for-you-page {
  #main-content-section {
    #candidate-gallery {
      display: grid; 
      grid-template-columns : 220px 220px;
      grid-template-rows: 220px 220px;
      row-gap: 50px;
      column-gap: 50px;
      justify-content: center;
      padding: 2em;

      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        border-radius: 20px;
        background-color: var(--secondary);
        color: var(--primary);
        text-align: center; 
        font-weight: var(--extra-bold);
      }

      img {
        border-radius: 50%;
      }
    }
  }
}


#social-media-candidate-page {
  #main-content-section {
    #candidate-header {
      display: flex;
      justify-content: left;
      padding: 2em 3em;
      border-radius: 20px;
      margin: 50px;
      background-color: #2B2B2B;
      img {
        width: 200px;
        height: 200px;
        margin-right: 50px;
        border-radius: 50%;
      }
      #candidate-header-information {
        div {
          display: grid;
          grid-template-columns: 3fr 1fr;
          align-items: center;
        }
        .light-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 40px;
          margin-left: 20px;
        }
      }    
    }
  }
} 
