@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*
 * CSS Resets
 * This is just to remove default styles of html tags.
 */
 
  /* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  ul{
    margin-top: 60px;
    border-radius: 10px;
    background-color: #2B2B2B;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 250px;
  }
  
  li{
    list-style-type: none;
    font-weight: 600;
    line-height: 3em;
  }

/*
 * General Webpage Styles
 * These are styles that will be used by multiple webpages
 */
:root {
  --primary: #1B1B1B;
  --secondary: #D9D9D9; 
  --accent-1: #1E1E1E;
  --accent-2: #2B2B2B;
  --default-light: #FFFFFF;
  --default-dark: #0A0A0A;

  --semi-bold: 500;
  --bold: 600;
  --extra-bold: 700z;
}
body {
  font-family: "Albert Sans", serif;
  background-color: var(--primary);
  color: var(--default-light);
}
img {
  width: 150px;
  height: 150px;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}

.light-button {
  padding: 0.5em 2em;
  border: none;
  border-radius: 20px;
  background-color: var(--secondary);
  color: var(--accent-1);
  font-weight: var(--bold);
}

/* Start of Content Styling*/
#main-navigation-section {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 1;
  width: 25%;
  height: 100vh;
  background-color: var(--primary);

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1em;
  }  
  
  #logo {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-right: 3em;
    background-color: var(--default-dark);
  }
  
  #services{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 30px;
    
    #user-profile {
      display: flex;
      justify-content: right;
      align-items: center;
      width: 100%;
      margin: 10px 0px;

      font-weight: var(--bold);
      * {
        display: flex;
        align-items: center;
      }
    }
    a {
      display: flex;
      align-items: center;
      font-weight: var(--semi-bold);
      padding-right: 4em;
      margin: 10px 0px;

    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}



#main-content-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0% 25%;
  background-color: var(--accent-1);
  
  .content {
    margin: 30px 100px;
    p, figcaption{
      padding: 0.5em 2em;
    }
    .button {
      display: block;
      text-align: center;
      margin: 20px auto 0px;
      width: 180px;
    }
  }
  
  #candidate-header {
    display: flex;
    justify-content: left;
    padding: 2em 3em;
    border-radius: 20px;
    margin: 50px;
    background-color: #2B2B2B;
    img {
      width: 200px;
      height: 200px;
      margin-right: 50px;
      border-radius: 50%;
    }
    #candidate-header-information {
      div {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
      }
      .light-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        margin-left: 20px;
      }
    }    
  }          
}

#other-content-section {
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  height: 100vh;
  padding: 2em;
  background-color: var(--primary);
  input {
    width: 250px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
  }
}


@media screen and (max-width: 1224px) {
  #main-navigation-section {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0em 10em;
    background-color: var(--default-dark);

    #logo {
      justify-content: left;
    }

    #services {
      flex-direction: row;
      align-items: center;
      margin-top: 0;
      a {
        margin: 0px 5%;
      }
    }
  }

  #other-content-section {
    position: static;
    height: auto;
    width: auto;
    margin: auto;
    form {
      display: block;
      margin-left: 30%;
      input {
        width: clamp(300px, 60%, 50ch);
      }
      ul {
        margin-top: 30px;
        margin-left: 8%;
      }
    }
  }

  #main-content-section {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    padding: 0% 10%;

    .content {
      margin: 30px 0px;
    }

    .content-background {
      margin: 30px 0px; 
      padding: 2em;
      border-radius: 10px;
      background-color: var(--accent-2);
    }

    #candidate-header {
      display: flex;
      justify-content: left;
      padding: 1em;
      margin: 0px;
      margin-top: 30px;
      border-radius: 20px;
      background-color: var(--accent-2);
      width: 100%;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }

      #candidate-header-information {
        div {
          display: grid;
          grid-template-columns: 1fr;
          align-items: center;
        }
        .light-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 40px;
          margin-left: 20px;
        }
      }    
    }            
  
  }
}

@media screen and (max-width: 764px) {
   #main-navigation-section {
    padding: 0em 2em;
    #logo {
      width: 200px;
    }
    #services {
      img {
        display: none;
      }
      a {
        justify-content: center;
        padding: 0px;
        margin: 0px 20px;
      }
    }
  }

  #main-content-section {
    width: 100%;
    text-align: center;

    .content {
      margin: 30px 0px;
      h2 {
        font-size: 1.8rem;
      }
    }
    
    #candidate-header {
      flex-direction: column;
      align-items: center;
      img {
        margin: 20px 0;
      }
    }
  }
} 